{{ define "home" }}

<!-- SLIDE SECTION -->
<div class="big-section" id="big-section">
   <!-- BIG SLIDES -->
   <div class="slide-container" id="big-slider">
      <div class="big-slide-item active">
         <img src="/customer/assets/img/Images/p-2.jpg" alt="Poster">
         <div class="big-slide-item-content">
            <div class="item-content-wrapper">
               <div class="item-content-title">
                  Pirate caribbean
               </div>
               <div class="movies-infors">
                  <div class="movies-infor">
                     <ion-icon name="bookmark-outline"></ion-icon>
                     <span>9.5</span>
                  </div>
                  <div class="movies-infor">
                     <ion-icon name="time-outline"></ion-icon>
                     <span>120 mins</span>
                  </div>
                  <div class="movies-infor">
                     <ion-icon name="cube-outline"></ion-icon>
                     <span>FHD</span>
                  </div>
               </div>
               <div class="item-content-description ">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Quas, possimus eius. Deserunt non odit, cum vero reprehenderit
                  laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium,
                  facere ab suscipit.
               </div>
            </div>
         </div>
         <div class="play-movies">
            <div class="ring"></div>
            <a href="https://www.youtube.com/watch?v=Hgeu5rhoxxY&t=10s">
            <i class='bx bxs-right-arrow'></i>
            </a>
            <div class="btn-watch">
               <span>watch trailer</span>
            </div>
         </div>
      </div>
      <div class="big-slide-item">
         <img src="/customer/assets/img/Images/p-6.jpg" alt="Poster">
         <div class="big-slide-item-content">
            <div class="item-content-wrapper">
               <div class="item-content-title ">
                  black widow
               </div>
               <div class="movies-infors">
                  <div class="movies-infor">
                     <ion-icon name="bookmark-outline"></ion-icon>
                     <span>9.5</span>
                  </div>
                  <div class="movies-infor">
                     <ion-icon name="time-outline"></ion-icon>
                     <span>120 mins</span>
                  </div>
                  <div class="movies-infor">
                     <ion-icon name="cube-outline"></ion-icon>
                     <span>FHD</span>
                  </div>
               </div>
               <div class="item-content-description ">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Quas, possimus eius. Deserunt non odit, cum vero reprehenderit
                  laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium,
                  facere ab suscipit.
               </div>
            </div>
         </div>
         <div class="play-movies ">
            <div class="ring"></div>
            <a href="https://www.youtube.com/watch?v=ybji16u608U">
            <i class='bx bxs-right-arrow'></i>
            </a>
            <div class="btn-watch">
               <span>watch trailer</span>
            </div>
         </div>
      </div>
      <div class="big-slide-item">
         <img src="/customer/assets/img/Images/transformer-banner.jpg" alt="Poster">
         <div class="big-slide-item-content">
            <div class="item-content-wrapper">
               <div class="item-content-title">
                  Transformer
               </div>
               <div class="movies-infors ">
                  <div class="movies-infor">
                     <ion-icon name="bookmark-outline"></ion-icon>
                     <span>9.5</span>
                  </div>
                  <div class="movies-infor">
                     <ion-icon name="time-outline"></ion-icon>
                     <span>120 mins</span>
                  </div>
                  <div class="movies-infor">
                     <ion-icon name="cube-outline"></ion-icon>
                     <span>FHD</span>
                  </div>
               </div>
               <div class="item-content-description  ">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Quas, possimus eius. Deserunt non odit, cum vero reprehenderit
                  laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium,
                  facere ab suscipit.
               </div>
            </div>
         </div>
         <div class="play-movies ">
            <div class="ring"></div>
            <a href="https://www.youtube.com/watch?v=Q3VKie4pChs">
            <i class='bx bxs-right-arrow'></i>
            </a>
            <div class="btn-watch">
               <span>watch trailer</span>
            </div>
         </div>
      </div>
      <div class="big-slide-item">
         <img src="/customer/assets/img/Images/p-3.jpg" alt="Poster">
         <div class="big-slide-item-content">
            <div class="item-content-wrapper">
               <div class="item-content-title ">
                  bloodShot
               </div>
               <div class="movies-infors">
                  <div class="movies-infor">
                     <ion-icon name="bookmark-outline"></ion-icon>
                     <span>9.5</span>
                  </div>
                  <div class="movies-infor">
                     <ion-icon name="time-outline"></ion-icon>
                     <span>120 mins</span>
                  </div>
                  <div class="movies-infor">
                     <ion-icon name="cube-outline"></ion-icon>
                     <span>FHD</span>
                  </div>
               </div>
               <div class="item-content-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Quas, possimus eius. Deserunt non odit, cum vero reprehenderit
                  laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium,
                  facere ab suscipit.
               </div>
            </div>
         </div>
         <div class="play-movies ">
            <div class="ring"></div>
            <a href="https://www.youtube.com/watch?v=vOUVVDWdXbo">
            <i class='bx bxs-right-arrow'></i>
            </a>
            <div class="btn-watch">
               <span>watch trailer</span>
            </div>
         </div>
      </div>
      <ul class="slide-control">
         <li class="slide-prev">
            <ion-icon name="chevron-back-outline"></ion-icon>
         </li>
         <li class="slide-next">
            <ion-icon name="chevron-forward-outline"></ion-icon>
         </li>
      </ul>
   </div>
</div>
<!--END SLIDE SECTION -->
<!-- LATEST SECTION -->
<div class="section" id="latest-section">
   <div class="section-wrapper" id="section-wrapper">
      <div class="section-header">
         Trending movies
      </div>
      <div id="all-movie-list"  class="movies-slide row">
         {{ range .movies }}
         <a href="/movie/{{ .ID.Hex }}" class="movie-item col-3-5 m-5 s-11 to-top show-on-scroll">
            <div>
                 <img src="/uploads/images/{{ .Image }}" alt="">
                 <div class="movie-item-content">
                      <div class="movie-item-title">
                        {{ .Title }}
                      </div>

                      <div class="movies-infors-card">
                           <div class="movies-infor">
                                <ion-icon name="bookmark-outline"></ion-icon>
                                <span>{{ if .Rating }}{{ .Rating }}{{ else }}N/A{{ end }}</span>
                           </div>
                           <div class="movies-infor">
                                <ion-icon name="time-outline"></ion-icon>
                                <span>{{ if .Duration }}{{ .Duration }}{{ else }}N/A{{ end }}</span>
                           </div>
                           <div class="movies-infor">
                                <ion-icon name="cube-outline"></ion-icon>
                                <span>
                                 {{ if .MaxQuality }}
                                       {{ if eq .MaxQuality 1 }}CAM
                                       {{ else if eq .MaxQuality 720 }}HD
                                       {{ else if eq .MaxQuality 1080 }}FHD
                                       {{ else if eq .MaxQuality 1440 }}2K
                                       {{ else if eq .MaxQuality 2160 }}4K
                                       {{ else }}N/A
                                       {{ end }}
                                 {{ else }}
                                       N/A
                                 {{ end }}
                                 </span>
                           </div>
                      </div>    
                 </div>
            </div>
            <div class="movie-item-overlay">
            </div>
            <div class="movie-item-act" >
                 <!-- <div class="ring"></div> -->
                 <i class='bx bxs-right-arrow'></i>

                 <div>
                      <i class='bx bxs-share-alt' ></i>
                      <i class='bx bxs-heart'></i>
                      <i class='bx bx-plus-medical' ></i>
                 </div>
            </div>
         </a>
         {{ end }}
      </div>
      <div class="btn-load ">
         <span>load more</span>
      </div>
   </div>
</div>
<!-- END LATEST SECTION -->
 <!-- SPECIAL MOVIES -->
<div class="special">
   <div class="section-wrapper">
      <div class="section-header">
         hot movie
      </div>
      <div class="big-slide-item special-movie active to-top show-on-scroll">
         <img src="/customer/assets/img/Images/black-banner.png" alt="Poster">
         <div class="big-slide-item-content">
            <div class="item-content-wrapper">
               <div class="item-content-title ">
                  black Panther
               </div>
               <div class="movies-infors">
                  <div class="movies-infor">
                     <ion-icon name="bookmark-outline"></ion-icon>
                     <span>9.5</span>
                  </div>
                  <div class="movies-infor">
                     <ion-icon name="time-outline"></ion-icon>
                     <span>120 mins</span>
                  </div>
                  <div class="movies-infor">
                     <ion-icon name="cube-outline"></ion-icon>
                     <span>FHD</span>
                  </div>
               </div>
               <div class="item-content-description ">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Quas, possimus eius. Deserunt non odit, cum vero reprehenderit
                  laudantium odio vitae autem quam, incidunt molestias ratione mollitia accusantium,
                  facere ab suscipit.
               </div>
            </div>
         </div>
         <div class="play-movies ">
            <div class="ring"></div>
            <a href="https://www.youtube.com/watch?v=qZuQc-GvRlk">
            <i class='bx bxs-right-arrow'></i>
            </a>
            <div class="btn-watch">
               <span>watch trailer</span>
            </div>
         </div>
      </div>
   </div>
</div>
<!--END SPECIAL MOVIES -->
<!-- TV SERIES -->
{{ range .categorieswithmovie  }}
<div class="section-tv" id="section-tv">
   <div class="section-wrapper">
      <div class="section-header">
         <span> {{.title}} </span>
         <!-- <div class="btn-load-2">
            <span>load more</span>
            </div> -->
      </div>
      <div class="movies-slide row" id="tv-slider">
         {{ range .movies  }}
         <a href="/movie/{{ ._id }}" class="movie-item col-3-5  m-5 s-11 to-top show-on-scroll">
            <div>
               <img src="/uploads/images/{{ .image }}" alt="">
               <div class="movie-item-content">
                  <div class="movie-item-title">
                     {{ .title }}
                  </div>
                  <div class="movies-infors-card">
                     <div class="movies-infor">
                        <ion-icon name="bookmark-outline"></ion-icon>
                        <span>{{ if .rating }}{{ .rating }}{{ else }}N/A{{ end }}</span>
                     </div>
                     <div class="movies-infor">
                        <ion-icon name="time-outline"></ion-icon>
                        <span>{{ if .duration }}{{ .duration }}{{ else }}N/A{{ end }}</span>
                     </div>
                     <div class="movies-infor">
                        <ion-icon name="cube-outline"></ion-icon>
                        <span>{{ if eq .maxquality 1.0 }}
                           CAM
                       {{ else if eq .maxquality 720.0 }}
                           HD
                       {{ else if eq .maxquality 1080.0 }}
                           FHD
                       {{ else if eq .maxquality 1440.0 }}
                           2K
                       {{ else if eq .maxquality 2160.0 }}
                           4K
                       {{ else }}
                           N/A
                       {{ end }}
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="movie-item-overlay">
            </div>
            <div class="movie-item-act">
               <i class='bx bxs-right-arrow'></i>
               <div>
                  <i class='bx bxs-share-alt' ></i>
                  <i class='bx bxs-heart'></i>
                  <i class='bx bx-plus-medical' ></i>
               </div>
            </div>
         </a>
         {{ end }}
      </div>
      <div class="btn-load ">
         <span>load more</span>
      </div>
   </div>
</div>
{{ end }}
<!-- TV SERIES -->

<!-- <script src="/customer/assets/js/home.js"></script> -->
{{ end }}